@import "./base.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0d2b29;
}

button {
  background-color: #0d2b29;
  color: #ede3c8;
  border-radius: 32px;
  border: none;
  padding: 15px 60px;
  font-size: 22px;
}

a {
  text-decoration: none;
}
